@model ampare_backend.Models.Projeto

@{
    ViewData["Title"] = "Cadastro de projetos";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Projeto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Id da ONG vinculada
                <input asp-for="IdOng" class="form-control" />
                <span asp-validation-for="IdOng" class="text-danger"></span>
            </div>
            <div class="form-group">
                Responsavel pelo projeto
                <input asp-for="ResponsavelProjeto" class="form-control" />
                <span asp-validation-for="ResponsavelProjeto" class="text-danger"></span>
            </div>
            <div class="form-group">
                Nome do projeto
                <input asp-for="NomeProjeto" class="form-control" />
                <span asp-validation-for="NomeProjeto" class="text-danger"></span>
            </div>
            <div class="form-group">
                Descricao do projeto
                <input asp-for="DescricaoProjeto" class="form-control" />
                <span asp-validation-for="DescricaoProjeto" class="text-danger"></span>
            </div>
             <div class="form-group">
                Data de inicio
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                Cidade do projeto
                <input asp-for="CidadeProjeto" class="form-control" />
                <span asp-validation-for="CidadeProjeto" class="text-danger"></span>
            </div>
            <div class="form-group">
                Estado
                <input asp-for="EstadoProjeto" class="form-control" />
                <span asp-validation-for="EstadoProjeto" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <input class="form-check-input" asp-for="StatusProjeto" /> Ativo                
            </div>
            <p></p>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-primary">Voltar</a>
                <input type="submit" value="Enviar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
</body>
</html>
